<ion-view view-title="Prevent">
  <ion-content class="blue_content">
    <ion-list>
      <h1> Prevent spread & stay healthy with these tips from the CDC: </h1>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>1. Avoid close contact with people who are sick.</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>2. Avoid touching your eyes, nose, and mouth.</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>3. Stay home when you are sick.</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>4. Cover your cough or sneeze with a tissue, then throw the tissue in the trash.</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>5. Clean and disinfect frequently touched objects and surfaces using a regular household cleaning spray or wipe.</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>6. Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.</h2>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
      <h2>7. Use a facemask if you show symtoms of COVID-19 </h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
